.ethcisText {
    padding-top: 15px;
    padding-left: 25px;
}

.ethcisTitle {
    font-weight: bold;
}

.liEthics {
    font-family: 'Assistant', sans-serif !important;
    text-align: left;
    padding-left: 215px;
    font-size: 18px;
    
}

.titleImage {
    width: 475px;
    // height: 285px;
}