<div class="pagediv">
    <div class="ethicsText mat-elevation-z4">
            <div class="titleImage"><img align ="left" src="../../../assets/images/ethics.jpg"></div>
        <h5 class="ethicsTitle"><span class="firstLetter">C</span>ode of Ethics and Professional Practices</h5>   
        <h6>As a member of the Association of Professional Genealogists I agree that professionalism in genealogy requires ethical conduct in all relationships with the present or potential genealogical community. I therefore agree to:</h6> 
        <ol>
            <li class="liEthics">Present research results and opinions in a clear, well-organized manner;</li>
            <li class="liEthics">Refrain from withholding, suppressing, or knowingly misquoting or misinterpreting sources or data;</li>
            <li class="liEthics">Report appropriately qualified genealogical conclusions in writing based on the weight of the evidence with fully and accurately cited sources;</li>
            <li class="liEthics">Represent my abilities, services, and credentials honestly, avoiding the use of misleading or exaggerated statements;</li>
            <li class="liEthics">Engage in sufficient continuing education to maintain competence and comply with applicable requirements;</li>
            <li class="liEthics">Prepare and abide by written agreements regarding applicable project scope, fees, charges, payment structures, and deliverables without concealment or misrepresentation;</li>
            <li class="liEthics">Disclose potential conflicts of interest;</li>
            <li class="liEthics">Maintain confidentiality of client communications and research, except as permitted in writing by the client or required by court or professional disciplinary proceedings;</li>
            <li class="liEthics">Treat information concerning living people with appropriate discretion;</li>
            <li class="liEthics">Refrain from violating or encouraging others to violate laws or regulations concerning copyright, rights to privacy, business practices, or other pertinent subjects;</li>
            <li class="liEthics">Refrain from mutilating, rearranging, or removing from their proper custodians printed, original, microfilmed, or electronic records;</li>
            <li class="liEthics">Give proper credit to the work of others and refrain from plagiarism;</li>
            <li class="liEthics">Refrain from soliciting established clients of another researcher through denigration, violation of laws or regulations, or other improper means;</li>
            <li class="liEthics"> Refrain from behaviors or statements that malign or are maliciously calculated to injure the profession; individual genealogists; genealogical associations, programs, or educational organizations; or the Association of Professional Genealogists.</li>            
        </ol>       
        
        <p>See the APG website for more information. <--add link</p>
           
    </div>
<div>
