<div class="pagediv">       
    <div class="row">
        <div class="col-lg-5">
            <!-- Card -->
            <mdb-card align="left">
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Contact Us</h4>
                </mdb-card-title>
                <ul style="list-style-type:none;">
                    <li><mdb-icon fas size="lg" class="indigo-text pr-3" aria-hidden="true" icon="map-marked-alt"></mdb-icon>3616 Far West Blvd. Ste. #117-364
                        Austin, TX 78731</li>
                        <br>
                        <li><mdb-icon fas size="2x" class="indigo-text pr-3" aria-hidden="true" icon="phone"></mdb-icon>(903) 345-4150
                        </li>
                    <li>Milk</li>
                </ul>  
              </mdb-card-body>
            </mdb-card>
            <!-- Card --></div>
        <div class="col-sm-4">
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <div class="map" id="map"></div>
                </mdb-card-body>
            </mdb-card>            
        </div>
    </div>     
    






















    
</div>