<div class="pagediv">       
    <div class="row">
        <div class="col-lg-5">
            <!-- Card -->
            <mdb-card align="left">
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Contact Us</h4>
                </mdb-card-title>
                <ul style="list-style-type:none;">
                    <li><mdb-icon fas size="lg" class="indigo-text pr-3" aria-hidden="true" icon="map-marked-alt"></mdb-icon> Lone Star Chapter APG
                         <p class="addy">3616 Far West Blvd. Ste. #117-364</p>
                         <p class="addy">Austin, TX 78731</p>
                    </li>                        
                    <li><mdb-icon fas size="lg" class="indigo-text pr-3" aria-hidden="true" icon="phone"></mdb-icon>(903) 345-4150</li>
                    <br>
                    <li><mdb-icon far size="lg" class="indigo-text pr-3" icon="envelope"></mdb-icon>lonestar@email.com</li>
                </ul>  
              </mdb-card-body>
            </mdb-card>
            <!-- Card -->
            <br>

            <mdb-card>
                    <mdb-card-header class="disHeader">Disclaimer</mdb-card-header>
                    <mdb-card-body>
                      <blockquote class="blockquote mb-0">
                        <p class="disText">The words Certified Genealogist and the designation CG are a registered certification marks, and the designation CGL and Certified Genealogical Lecturer are service marks of the Board for Certification of Genealogists® (BCG), used under license by board certificants after periodic evaluation, and the board name is registered in the U.S. Patent & Trademark Office. AG and Accredited Genealogist are service marks of the International Commission for the Accreditation of Genealogists® (ICAPGen), used under license by professionals who pass competency evaluations by ICAPGen.</p>
                        <footer class="blockquote-footer">add formatting <cite title="Source Title">Links</cite></footer>
                      </blockquote>
                    </mdb-card-body>
                  </mdb-card>

                  <div>Click here for a list of past officers.</div>

                </div>
        <div class="col-md-6">
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <div class="map" id="map"></div>
                </mdb-card-body>
            </mdb-card>            
        </div>
    </div>     
    






















    
</div>