<div class="edge header">
   <div class="appHeader"></div>
 </div>
      <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark ie-nav" class="navCss"
      [containerInside]="false">
      <mdb-navbar-brand>
          <a class="logo navbar-brand" href="#"><strong>Lone Star Chapter APG </strong></a>
      </mdb-navbar-brand>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active waves-light" mdbWavesEffect>
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" href="bylaws">Bylaws</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" href="officers">Officers</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link">Opinions</a>
              </li>
          </ul>
          <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link"><mdb-icon fab icon="twitter"></mdb-icon></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link"><mdb-icon fab icon="instagram"></mdb-icon></a>
              </li>
          </ul>
      </links>
  </mdb-navbar>
  <!-- Main -->
  <main>
      <div class="container">
        
      </div>
  </main>
  <!-- /.Main -->















<!-- <header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg grey lighten-5 scrolling-navbar" [containerInside]="false">
       <mdb-navbar-brand>
          <a href="home" class="pull-left"><img src="../../assets/images/logo.jpg"></a> 
       </mdb-navbar-brand>
       <ul class="navbar-nav ml-auto">
          <li class="nav-item">
             <a class="nav-link waves-light" mdbWavesEffect href="contact">
                <mdb-icon fas icon="envelope"></mdb-icon>
                Contact<span class="sr-only">(current)</span>
             </a>
          </li>
          <li class="nav-item">
             <a class="nav-link waves-light" mdbWavesEffect href="membership">
                <mdb-icon fas icon="crop-alt"></mdb-icon>
                Join/Renew
             </a>
          </li>
          <li class="nav-item">
             <a class="nav-link waves-light" mdbWavesEffect  href="events">
                <mdb-icon fas icon="calendar-alt"></mdb-icon>
                Meetings and Events
             </a>
          </li> -->
          <!-- Dropdown -->
          <!-- <li class="nav-item dropdown" dropdown>
             <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <mdb-icon fas icon="external-link-alt"></mdb-icon>
                Links<span class="caret"></span>
             </a>
             <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <h6 class="ddHeader">Genealogical Organizations</h6>
                <a class="dropdown-item waves-light" mdbWavesEffect href="http://apgen.org/">Association of Professional Genealogists (APG)</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="http://www.fgs.org/">Federation of Genealogical Societies (FGS)</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="http://www.ngsgenealogy.org/">National Genealogical Society (NGS)</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="http://www.rootsweb.com/~txsgs/">Texas State Genealogical Society (TSGS)</a>
                <div class="divider dropdown-divider"></div>
                <h6 class="ddHeader">Certification and Accreditation Organizations</h6>
                <a class="dropdown-item waves-light" mdbWavesEffect href="http://www.bcgcertification.org/">Board for Certification of Genealogists® (BCG)</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="http://www.icapgen.org/">International Commission for the Accreditation of Genealogists® (ICAPGen)</a>
                <div class="divider dropdown-divider"></div>
                <h6 class="ddHeader">Records Preservation Links</h6>
                <a class="dropdown-item waves-light" mdbWavesEffect href="http://www.fgs.org/rpac/">Records Preservation and Access Committee (RPAC)</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="http://www.oag.state.tx.us/open/publications_og.shtml">Texas Attorney General Open Government and Related Publications</a>
             </div>
          </li>
       </ul>
    </mdb-navbar> -->
    <!-- Main -->
    <!-- /.Main -->
 <!-- </header>
 <div class="sidenav grey lighten-5">
    <a class="myNav" href="bylaws">Chapter Bylaws</a>
    <a class="myNav" href="ethics">Code Of Ethics</a>
    <a class="myNav" href="professional">Hiring A Profesional</a>
    <a class="myNav" href="professional">Becoming a Professional</a>
    <a class="myNav" href="officers">Current Officers</a>
    <a href="https://www.apgen.org/" class="nav-link waves-light" mdbWavesEffect><img class="apgLogo" src="../../assets/images/apglogotrans.gif"></a>
    <div class="content-bottom"><img class="navLogo" src="../../assets/images/starLogo.jpg"></div>
 </div> -->
 <!--Main Layout-->
 <main>
    <router-outlet></router-outlet>
 </main>
 <!--Main Layout-->
 <!-- Footer -->
 <footer class="page-footer font-small fixed-bottom red darken-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright &copy; 2018:
       <a href="home"> Lone Star Chapter, APG, All Rights Reserved.</a><br />
    </div>
    <!-- Copyright -->
 </footer>
 <!-- Footer -->