.byLawsText {
    padding-top: 15px;
    padding-left: 25px;
}

.titleImage {
    width: 475px;
    // height: 285px;
}

.articles1{
    padding-left: 500px !important; 
}


.scalesImg {
    height: 200px;
    padding-right: 75px;
}

.pHeader2 {
    font-weight: bold;
    font-size: 18px;
    font-family: cursive;
    text-align: left;
    font-family: Perpetua, serif;
}

.liStyle2 {
    font-family: 'Assistant', sans-serif !important;
    text-align: left;
    padding-left: 5px;
    font-size: 18px;
}

.level2 {
    text-align: left;    
    color: purple;
}

.ols2{
    text-align: left;
}