<div class="pagediv">
    <div class="titleImage"><img align ="left" src="../../../assets/images/gavel.png"></div>
        <div class="pHeader"><span class="firstA">A</span>RTICLE I. OBJECTIVES (modified to match 2012 byaws of APG)</div>
        <br>
            <div class="articles1">  
                <ol class="olS">
                    <li  class="liStyle">To provide education and support for those engaged in genealogical business pursuits;</li>
                    <li class="liStyle">To engage in activities which improve access, facilitate research, and preserve records used in the fields of genealogy and local history;</li>
                    <li class="liStyle">To promote awareness of activities and/or laws which may affect genealogical and historical research;</li>
                    <li class="liStyle">To facilitate collaboration among members;</li>
                    <li class="liStyle">To promote professional standards in the field of genealogy; and</li>
                    <li class="liStyle"> To promote awareness of, and interest in, professional genealogical services.</li>
                </ol>    
            </div>
        <br>
        <br>
        <div class="pHeader2"><span class="firstA">A</span>RTICLE II. MEMBERSHIP</div>            
        <br>
            <div class="">  
                <ol class="olS">
                    <li  class="liStyle">Members of the Lone Star Chapter of the Association of Professional Genealogists (hereinafter "the Chapter") shall be members of the Association of Professional Genealogists.</li>
                </ol>    
            </div>
        <br>
        <div class="pHeader2"><span class="firstA">A</span>RTICLE III. OFFICERS</div>
        <div class=""> 
            <ol>
                <li class="liStyle">The Chapter is required to vote for a Chapter Representative to the Association of Professional Genealogists and may elect other officers as desired.</li>
                <li class="liStyle">If the Chapter decides to collect its own dues, then a treasurer must be elected by the Chapter members.</li>
                <li class="liStyle">Officers shall be President, Vice President, Secretary, Treasurer and Chapter Representative to the Association of Professional Genealogists. The positions of Secretary and Treasurer may be held by the same person or individually. Terms of Office shall be for one year, with elections or appointments to no more than two full consecutive years.</li>
                <li class="liStyle">The Chapter shall be governed by its own bylaws and by those of APG, and will adhere to any changes or revisions adopted after the Chapter was accepted. The Chapter will also at all times be bound by the Policy and Procedures as set forth in the APG Policy Manual and APG Procedure Manual, including changes or revisions adopted after the Chapter was accepted.</li>
            </ol>
            </div>
            <br>
            <div class="pHeader2"><span class="firstA">A</span>RTICLE IV. MEETINGS AND MEMBERS</div>            
            <br>
            <div class="">  
                <ol class="olS">
                    <li  class="liStyle">The frequency of Chapter meetings shall be a minimum of two annually.</li>
                    <li  class="liStyle">Chapter meetings may be opened to the public who may attend as guests.</li>
                    <li  class="liStyle">Only Chapter members can vote in chapter elections and ballot measures.</li>
                    <li  class="liStyle">Only Chapter members can serve as Chapter officers.</li>
                    <li  class="liStyle">Only Chapter members can be listed in materials published by the chapter.</li>
                    <li  class="liStyle">Non-members:</li>
                        <ol style="list-style-type: lower-alpha">
                            <li class="liStyle2">Can attend Chapter meetings.</li>
                            <li class="liStyle2">Can participate in Chapter activities except those designated in Article IV:3, IV:4 and IV:5.</li>
                        </ol>
                </ol>    
            </div>
        <br>
        <div class="pHeader2"><span class="firstA">A</span>RTICLE V. OPERATING PROCEDURES</div>            
            <br>
            <div class="">  
                <ol class="olS2">
                    <li  class="liStyle2">The Chapter Representative of the Chapter shall be responsible for sending reports at least twice yearly to the Chapter Liaison of the Association of Professional Genealogists who will act as a contact between the chapter, the Chapter Representative and the Executive Committee of Association of Professional Genealogists. The Chapter Liaison will prepare reports for the APGQ editor.The Chapter will conduct itself in a manner that is in keeping with the professionalism of the APG. All literature, banners, posters, letters etc. will be professional in appearance so as to maintain the APG's image as a professional organization.</li>
                    <li  class="liStyle2">The Chapter shall communicate its activities, concerns, questions through the Chapter Liaison who will channel such communications to the appropriate APG entities as prescribed by the Procedure Manual and the Policy Manual.</li>
                    <li  class="liStyle2">APG through its Chapter Liaison shall keep chapters informed of changes in policy and procedures that affect them.</li>
                    <li  class="liStyle2">Except as otherwise required by the bylaws, the Chapter is self governing. The Association of Professional Genealogists cannot be held legally responsible for the actions of the chapters beyond the bylaws.</li>
                    <li  class="liStyle2">The Chapter will conduct itself in a manner that is in keeping with the professionalism of the APG. All literature, banners, posters, letters etc. will be professional in appearance so as to maintain the APG's image as a professional organization.</li>
                    <li  class="liStyle2">The Chapter will conduct itself in a manner that is in keeping with the professionalism of the APG. All literature, banners, posters, letters etc. will be professional in appearance so as to maintain the APG's image as a professional organization.</li>                    
                </ol>    
            </div>
        <br>
        <div>
            <img class="scalesImg" align="right" src="../../../assets/images/scales.png">
        </div>
        <div class="pHeader2"><span class="firstA">A</span>RTICLE IV. MEETINGS AND MEMBERS</div>            
            <br>
            <div class="">  
                <ol class="olS">
                    <li  class="liStyle2">The Chapter Representative of the Chapter shall be responsible for sending reports at least twice yearly to the Chapter Liaison of the Association of Professional Genealogists who will act as a contact between the chapter, the Chapter Representative and the Executive Committee of Association of Professional Genealogists. The Chapter Liaison will prepare reports for the APGQ editor.</li>
                    <li  class="liStyle2">The Chapter shall communicate its activities, concerns, questions through the Chapter Liaison who will channel such communications to the appropriate APG entities as prescribed by the Procedure Manual and the Policy Manual.</li>
                    <li  class="liStyle2">APG through its Chapter Liaison shall keep chapters informed of changes in policy and procedures that affect them. </li>
                    <li  class="liStyle2">Except as otherwise required by the bylaws, the Chapter is self governing. The Association of Professional Genealogists cannot be held legally responsible for the actions of the chapters beyond the bylaws.</li>
                    <li  class="liStyle2">The Chapter will conduct itself in a manner that is in keeping with the professionalism of the APG. All literature, banners, posters, letters etc. will be professional in appearance so as to maintain the APG's image as a professional organization.</li>
                    <li  class="liStyle2">Any literature, press releases or other such communication intended for the general public shall be submitted to the Publications Advisory Committee in accordance with APG's current policy.</li>                       
                </ol>    
            </div>
        <br>        
        <div class="pHeader2"><span class="firstA">A</span>RTICLE VI. FINANCES</div>            
            <br>
            <div class="">  
                <ol class="olS">
                    <li  class="liStyle2">If dues are collected, then the dues of the Chapter shall be deposited in a bank account. The bank account shall be in the name of the Chapter.</li>
                </ol>    
            </div>
        <br>
        <div class="pHeader2"><span class="firstA">A</span>RTICLE VII. AMENDMENTS</div>            
            <br>
            <div class="">  
                <ol class="olS">
                    <li  class="liStyle2"> No amendments can be made in these bylaws without the approval of the Executive Committee of the Association of Professional Genealogists.</li>
                    <li  class="liStyle2">Amendments or revisions of these bylaws may be proposed by Chapter members. If approved by a vote of the chapter members, a written proposal shall be sent by the Chapter Representative to the Chapter Liaison, who will review the proposal and transmit it to the Executive Committee.</li>
                </ol>    
            </div>
        <br>
        <div class="pHeader2"><span class="firstA">A</span>RTICLE VIII. DEACTIVATION</div>            
            <br>
            <div class="">  
                <ol class="olS">
                    <li  class="liStyle2">The Chapter may be deactivated by the parent organization (APG) according to criteria prescribed by the Procedure Manual.</li>
                    <li  class="liStyle2">The Chapter may request deactivation according to procedures outlined in the Procedure Manual.</li>
                </ol>    
            </div>
        <br>
</div>
        
    
        
        
        
        
       
        
        
        