.caroContainer {    
    width: 625px;
    float: left;
    height: auto;
    // max-width: 450px !important;
    // max-height: 400px !important;
    border: solid 1px #CCC;
    box-shadow: 2px 1px 5px 1px rgba(110,104,104,0.75);
    -webkit-box-shadow: 2px 1px 5px 1px rgba(110,104,104,0.75);
    -moz-box-shadow: 2px 1px 5px 1px rgba(110,104,104,0.75);
}

.firstL {
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
}

.homeText {
    line-height: 1.6;
    padding: 25px 10px 15px 675px; /*t,r,b,l*/
    text-align: left;
    font-size: 16px;
}