/* You can add global styles to this file, and also import other style files */
.pagediv {
    padding-top: 75px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 155px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
